/App.class
/Direction.class
/Game.class
/Pacgomme.class
/Pacgomme_type.class
/PackManview.class
/Personage_fantome.class
/Personage_pacman.class
/MyPacgomme.class
/Bord.class
/Element.class
/Obstacle.class
/Commen.class
